body {
  padding: 20px;
}

h1 {
  border-bottom: 1px solid gray;
  margin-top: 0;
  padding: 10px 0;
}

label {
  font-weight: 600;
}

/* View: Phone list */
.phones {
  list-style: none;
}

.phones li {
  clear: both;
  padding-top: 15px;
}

.pagination {
  margin: 22px 40px;
}

.ng-binding {
  margin:  14px 30px 16px;
}

.thumb {
  float: left;
  height: 100px;
  margin: -0.5em 1em 1.5em 0;
  padding-bottom: 1em;
  width: 100px;
}

/* View: Phone detail */
.phone {
  background-color: white;
  display: none;
  float: left;
  height: 400px;
  margin-bottom: 2em;
  margin-right: 3em;
  padding: 2em;
  width: 400px;
}

.phone:first-child {
  display: block;
}

.phone-images {
  background-color: white;
  float: left;
  height: 450px;
  overflow: hidden;
  position: relative;
  width: 450px;
}

.phone-thumbs {
  list-style: none;
  margin: 0;
}

.phone-thumbs img {
  height: 100px;
  padding: 1em;
  width: 100px;
}

.phone-thumbs li {
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
  display: inline-block;
  margin: 1em;
}

.specs {
  clear: both;
  list-style: none;
  margin: 0;
  padding: 0;
}

.specs dt {
  font-weight: bold;
}

.specs > li {
  display: inline-block;
  vertical-align: top;
  width: 200px;
}

.specs > li > span {
  font-size: 1.2em;
  font-weight: bold;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.body-form-login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 69vh;
}
.login-container {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}
.login-header {
  margin-bottom: 20px;
  text-align: center;
}
.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}